<div class="row align-center mb-5">
  <div class="col-sm-6">
      <h2>My Shifts</h2>
      <div class="list-group">
        {{#each userShifts}}
            <div class="list-group-item row">
              <span class="col">
              {{user.name}}
              </span>
              <span class="col">
                {{format_date start_date}}
              </span>
              <span class="col">
                {{format_date end_date}}
              </span class="col">
              <span class="col">
              {{#if is_swappable}}
                <span class="badge bg-success">Swapping!</span>
              {{else}}
                <span class="badge bg-secondary">Closed</span>
              {{/if}}
              </span>
            </div>
        {{/each}}
      </div>
      <h2>My Offers</h2>
        {{#each offeredShifts}}
          <div class="list-group my-3">
              <div class="list-group-item row">
                    <span class="col">
                      <strong>My Offer</strong>
                    </span>
                    <span class="col">
                    {{shift_offered.user.name}}
                    </span>
                    <span class="col">
                      {{format_date shift_offered.start_date}}
                    </span>
                    <span class="col">
                      {{format_date shift_offered.end_date}}
                    </span class="col">
                </div>

              <div class="list-group-item row">

                    <span class="col">
                      <strong>Trading For</strong>
                    </span>
                    <span class="col">
                    {{shift_wanted.user.name}}
                    </span>
                    <span class="col">
                      {{format_date shift_wanted.start_date}}
                    </span>
                    <span class="col">
                      {{format_date shift_wanted.end_date}}
                    </span class="col">
                </div>
          </div>
        {{/each}}

      <h2>Requested Trades</h2>
      {{#each wantedShifts}}
          <div class="list-group my-3">
              <div class="list-group-item row">

                    <span class="col">
                      <strong>My Shift</strong>
                    </span>
                    <span class="col">
                    {{shift_wanted.user.name}}
                    </span>
                    <span class="col">
                      {{format_date shift_wanted.start_date}}
                    </span>
                    <span class="col">
                      {{format_date shift_wanted.end_date}}
                    </span class="col">
                </div>
              <div class="list-group-item row">
                    <span class="col">
                      <strong>Offered Shift</strong>
                    </span>
                    <span class="col">
                    {{shift_offered.user.name}}
                    </span>
                    <span class="col">
                      {{format_date shift_offered.start_date}}
                    </span>
                    <span class="col">
                      {{format_date shift_offered.end_date}}
                    </span class="col">
                </div>
          </div>
        {{/each}}
  </div>  
  <div class="col-sm-6">
      <h2>Create a new shift to swap</h2>
      <div class="card">
        <div class="card-body">
            <form id="create-shift">
              <div class="mb-3">
                <label for="startDate" class="form-label">State Date/Time</label>
                <input type="text" class="form-control" id="startDate" placeholder="8/17/2021 12:00 PM" value="8/17/2021 12:00 PM">
              </div>
              <div class="mb-3">
                <label for="endDate" class="form-label">End Date/Time</label>
                <input type="text" class="form-control" id="endDate" placeholder="8/17/2021 5:00 PM" value="8/17/2021 5:00 PM">
              </div>
              <button class="btn btn-primary">Create Shift</button>
            </form>
        </div>
      </div>
  </div>
</div>
<script src="/js/createShift.js"></script>